.jumbotron.text-center
  .container
    a.lang-logo(href='/')
      img(src='/lang-logo.png')
    h1 Getting Started with Node on Heroku
    p
      | This is a sample Node application deployed to Heroku. It's a reasonably simple app - but a good foundation for understanding how to get the most out of the Heroku platform.
    a.btn.btn-lg.btn-default(type='button', href='https://devcenter.heroku.com/articles/getting-started-with-nodejs')
      span.glyphicon.glyphicon-flash
      |  Getting Started with Node
    a.btn.btn-lg.btn-primary(type='button', href='https://github.com/heroku/node-js-getting-started')
      span.glyphicon.glyphicon-download
      |  Source on GitHub
