ratio = 0%
c-main = #532F8C + 50%
c-alert = #31708f + 20%
.jumbotron
  background c-main + ratio
  color white
  padding-bottom 80px
  .btn-primary
    background c-main + 10% + ratio
    border-color c-main + 10% + ratio
    &:hover
      background c-main + 10% + ratio
  p
    color #d9ccee
    max-width 75%
    margin 1em auto 2em
  .lang-logo
    display block
    background #B01302 + ratio
    border-radius 50%
    overflow hidden
    width 100px
    height 100px
    margin auto
    border 2px solid white
    img
      max-width 100%

.navbar
  & + .jumbotron
    margin-top -20px

.alert-info
  color c-alert + ratio
  background-color c-alert + 80% + ratio
  border-color c-alert + 80% + ratio
