.jumbotron {
  background: #522f8b;
  color: #fff;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #8258c6;
  border-color: #8258c6;
}
.jumbotron .btn-primary:hover {
  background: #7544c0;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.jumbotron .lang-logo {
  display: block;
  background: #ae1302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid #fff;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.alert-info {
  color: #316f8e;
  background-color: #d5ebf6;
  border-color: #b8e7f0;
}
